/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&display=swap');

body {
    font-family: Lato, sans-serif;
    color: #ffffff;
}

/*headings and logo*/

h1,
h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
}

#logo {
    float: left;
    font-size: 100%;
    margin-left: 30px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-brand i {
    margin-right: 3px;
}

/*Navbar toggler */

.navbar .navbar-toggler {
    border: 0;
}

.navbar-toggler-icon-bar {
    width: 26px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.navbar-toggler-icon-bar:nth-child(2) {
    margin: 3px 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: #ffffff;
    background-color: #f05224;
    border-color: #f05224;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
}

/* Get a quote button change on mobile devices*/

@media (max-width: 767px) {
    .navbar-toggler[aria-expanded="true"]+.collapse .navbar-nav .nav-link.nav-link-mobile-color {
        color: #ffffff;
        background-color: #f05224;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
        display: block;
        margin-top: 5px;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
    }
}

/* Divider between logo and main menu on mobile devices */

@media (max-width: 767px) {
    .navbar-toggler[aria-expanded="true"]+.collapse .navbar-nav::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

/* Divider between submenu items on all devices*/

.navbar .dropdown-menu .dropdown-item+.dropdown-item::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin: 5px 0;
}

/* Site content */

/* Masthead */

.masthead {
    background-color: #f0f0f0;
}

.sub-heading h4 {
    font-size: 32px;
    color: #f05224;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.title h2 {
    font-size: 34px;
    color: #000000;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.textarea p {
    font-size: 18px;
    color: #7a839e;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

/* Get a quote button with inverted colors */
.btn--red-inverted {
    color: #ffffff;
    background-color: #f05224;
    border-color: #f05224;
}

.btn--red-inverted:hover,
.btn--red-inverted:active,
.btn--red-inverted:focus,
.btn--red-inverted:active:focus {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

.masthead-image {
    max-width: 100%;
    height: auto; 
    margin-bottom: 20px;
}

/* Footer */

.footer {
    background-color: #000000;
    color: #fff;
    font: 14px;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-right: 35px;
}

.footer h3 {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.footer ul {
    list-style: none;
    padding: 0px;
}

.footer ul li:not(.social-icons) a {
    color: #c8c8c8;
}

.social-icons {
    color: #fff;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-icons li {
    margin: 0px 5px 0px 3px;
}

.social-icons a {
display: flex;
align-items: center;
justify-content: center;
width: 35px;
height: 35px;
border-radius: 50%;
background-color: #fff;
color: #000 !important;
text-decoration: none;
font-size: 18px;
}

.footer ul li {
    margin-top: 5px;
}

.social-icons a:hover {
    background-color: #f05224;
    color: #fff;
}

.footer-copyright {
    font-weight: bold;
    color: #fff;
    font-size: 15px;

}
